body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1d;
    color: #fff;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.game h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.game .start-time {
    color: #999;
    font-size: 0.8em;
}

.game .recommendation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: #92fc8c; /* light blue font color */
    font-weight: bold; /* bold font */
}

.game img.team-logo, .game img.bookmaker-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.game img.bookmaker-logo {
    margin-left: 10px;
}
